%h1 Listing excursions

%table
  %thead
    %tr
      %th Price
      %th Describe
      %th Name
      %th City
      %th
      %th
      %th

  %tbody
    - @excursions.each do |excursion|
      %tr
        %td= excursion.price
        %td= excursion.describe
        %td= excursion.name
        %td= excursion.city
        %td= link_to 'Show', excursion
        %td= link_to 'Edit', edit_excursion_path(excursion)
        %td= link_to 'Destroy', excursion, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Excursion', new_excursion_path
