%p#notice= notice

%p
  %b Price:
  = @excursion.price
%p
  %b Describe:
  = @excursion.describe
%p
  %b Name:
  = @excursion.name
%p
  %b City:
  = @excursion.city

= link_to 'Edit', edit_excursion_path(@excursion)
\|
= link_to 'Back', excursions_path
